{% extends 'navigation.html' %}
{% load static %}
{% block a %}
<center>
<div id="myCarousel" class="carousel slide" data-ride="carousel">


    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="border-radius:12px;background-color:white;border:1px solid #bbb;">

      <div class="item active">
        <img src="{% static 'images\train.jpg' %}" alt="Los Angeles" style="width:100%;height:700px">
        <div class="carousel-caption">
        </div>
      </div>




      </div>

    </div>



    </center>

{% endblock %}
